<footer id="footer">
	<!-- Author info -->
	{{#if post}}
		{{#post}}
			{{> author}}
		{{/post}}
	{{else}}
		{{#foreach posts}}
			{{#if @first}}
			    {{> author}}
			{{/if}}
		{{/foreach}}
	{{/if}}

	<p class="copyright">Copyright &copy; 2014 {{@blog.title}}. Powered by <a href="http://ghost.org">Ghost</a>.</p>
</footer>