<header {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>

	<!-- Blog logo -->
	{{#if @blog.logo}}
		<a id="blog-logo" href="/"><img src="{{@blog.logo}}" /></a>
	{{else}}
		<h1><a href="/">{{@blog.title}}</a></h1>
	{{/if}}

</header>
