{{#if @blog.cover}}
	<div id="coverimg" style="background-image: url({{@blog.cover}})"></div>
{{/if}}

<header>

	<!-- Blog logo -->
	{{#if @blog.logo}}
		<a id="blog-logo" href="/"><img src="{{@blog.logo}}" /></a>
	{{else}}
		<h1><a href="/">{{@blog.title}}</a></h1>
	{{/if}}

</header>