<nav>
	<ul>
		<li><a rel="me" class="twitter" href="https://twitter.com/jeherve">
			<span class="screen-reader-text">Twitter</span>
		</a></li>
		<li><a rel="me" class="wordpress" href="http://profiles.wordpress.org/jeherve">
			<span class="screen-reader-text">WordPress</span>
		</a></li>
		<li><a rel="me" class="github" href="https://github.com/jeherve/">
			<span class="screen-reader-text">GitHub</span>
		</a></li>
		<li><a rel="me" class="personal" href="http://jeremyherve.com/">
			<span class="screen-reader-text">Personal blog</span>
		</a></li>
		<li><a class="rss" href="/rss/">
			<span class="screen-reader-text">RSS</span>
		</a></li>
	</ul>
</nav>